.icon {
  color: light-dark(var(--mantine-color-gray-5), var(--mantine-color-dark-3));
}

.name {
  font-family: Greycliff CF, var(--mantine-font-family);
}
@media (max-width: 500px) {
  .credentials {
    width: fit-content;
    margin: 0 auto;
    margin-top: 10px;
  }
}
.credentials {
  width: fit-content;
  margin: 10px auto;
  margin-top: 30px;
}
