.experience {
  height: 100vh;
  width: 100%;
}
.experience > div {
  height: 100%;
  justify-content: space-between;
  align-items: center;
  display: flex;
}
.cardholder {
  display: flex;
}
@media (max-width: 600px) {
  .cardholder {
    flex-direction: column;
  }
  .experience {
    padding-top: 20px;
  }
}
