.contact {
  background-image: linear-gradient(
    to top,
    #333434,
    #616162,
    #929393,
    #c7c7c8,
    #ffffff
  );
  height: 100vh;
}
.contact > div {
  margin-top: 100px;
  font-size: 30px;
  font-weight: 500;
}
.contact p {
  margin: 0;
  font-size: 20px;
}
.logo {
  display: flex;
  justify-content: space-around;
  width: 60%;
  margin: 0 auto;
  margin-top: 60px;
}
.logo img {
  width: 120px;
  height: 120px;
}
@media (max-width: 800px) {
  .logo {
    width: 80%;
  }
  .contact > div {
    font-size: 20px;
  }
}
@media (max-width: 500px) {
  .contact > div {
    font-size: 15px;
  }
  .logo {
    margin: 80px auto;
    height: 300px;
    flex-direction: column;
    justify-content: space-around;
  }
  .logo img {
    width: 100px;
    height: 100px;
  }
}
