.contact {
  background-image: linear-gradient(
    to top,
    #333434,
    #616162,
    #929393,
    #c7c7c8,
    #ffffff
  );
  height: 100vh;
}
.contact > div {
  margin-top: 80px;
  font-size: 30px;
  font-weight: 500;
}
.contact p {
  margin: 0;
}
.logo {
  display: flex;
  justify-content: space-around;
  width: 60%;
  margin: 0 auto;
  margin-top: 100px;
}
.logo img {
  width: 150px;
  height: 150px;
}
.logo a:nth-child(2) {
  width: 200px;
  height: 200px;
}
