.title {
  width: 100%;
  height: 100vh;
  background-image: linear-gradient(
    to top,
    #333434,
    #616162,
    #929393,
    #c7c7c8,
    #ffffff
  );
}
.title > h1 {
  color: #0a0909;
  font-family: "Montserrat", sans-serif;
  font-size: 50px;
  margin: 0;
  height: auto;
  padding-top: 35vh;
}
.title > p {
  color: #0a0909;
  font-size: 20px;
  font-weight: 400;
}
@media (max-width: 500px) {
  .title > h1 {
    font-size: 35px;
  }
  .title > p {
    font-size: 18px;
  }
}
