code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}
* {
  box-sizing: border-box;
}

body {
  /* background-image: url("./Component/Utils/Images/download\ \(1\)-min.jpeg"); */
  margin: 0px;
  font-family: "segoe ui";
}
