.skills {
  height: 100vh;
  background-image: linear-gradient(
    to bottom,
    #333434,
    #616162,
    #929393,
    #c7c7c8,
    #ffffff
  );
  padding: 25px;
}
.skills img {
  width: 90px;
  height: 90px;
  margin: 20px;
}
.skills h2 {
  font-family: "Montserrat", sans-serif;
  font-size: 40px;
  margin: 50px;
}
.skills h2:nth-child(1) {
  color: white;
}
.skills p {
  display: inline-block;
  font-size: 12px;
  font-weight: 500;
  border: #333434 2px solid;
  padding: 2px 10px;
  border-radius: 5px;
  background-color: #c7c7c8;
  margin: 10px;
}
@media (max-width: 600px) {
  .skills img {
    width: 90px;
    height: 90px;
    margin: 10px;
  }
}
@media (max-width: 500px) {
  .skills img {
    width: 50px;
    height: 50px;
  }
}
@media (max-width: 400px) {
  .skills p {
    padding: 2px 5px;
    margin: 5px;
  }
  .skills h2 {
    font-size: 30px;
    margin: 20px;
  }
}
